.driver-history-container {
    background-color: #f7f9fb;
    margin-left: 100px;
    padding: 50px 80px;
    height: 100vh;
}

.driver-history-table {
    margin: 20px 0px;
    background-color: white;
    width: 100%;
    table-layout: fixed;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.driver-history-table thead {
    font-weight: 600;
    height: 80px;
}

.driver-history-table td {
    padding: 10px 15px;
}

.driver-history-table tr {
    border-bottom: 2px solid #f3f3f3;
}