.whole-body {
    background-color: white;
}

.home1, .home2 {
    width: 100%;
    margin-bottom: 8px;
}

.description {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    font-size: 1rem;
    background-color: rgba(16, 185, 129, 0.085);
}

.whole-body > h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    background-color: rgba(16, 185, 129, 0.085);
    color: black;
    text-align: center;
    margin: 0;
    padding: 24px;
}

.desc-left {
    margin: 0 10px 10px 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    color: black;

}

.desc-right {
    margin: 0 10px 10px 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    color: black;
}

p {
    font-size: 1em;
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 10%;
}

.reviews p {
    text-align: center;
    margin: 0px 24px;
}