.whole-body {
    background-color: white;
}

.home1 {
    width: 100%;
    margin-bottom: 8px;
}

.home2 {
    width: 100%;
    margin-bottom: 8px;
}

.description {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    font-size: 0.8em;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: black;
    margin-top: 40px;
    text-align: center;
}

.desc-left {
    margin: 10px;
    grid-column-start: 2;
    grid-column-end: 3

}

.desc-right {
    margin: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
}