.signup-link {
    color: black;
    font-size: 0.8em;
}

.signup-link:hover {
    color: rgba(16, 185, 129, 0.6);
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.2em;
}

.loginh3 {
    margin-top: 0;
    margin-bottom: 0.2em;
    width: 100%;
}

.loginCard {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: white;
}

.loginPage {
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-image: url('../../../public/map-background.jpeg');
}

.member {
    margin-bottom: 0;
    font-size: 0.8em;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailLI, .pwLI {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mainLogo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.logoh1 {
    width: 100%;
    font-size: 4em;
    text-align: left;
}

.features {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

li {
    margin: 10px 0px;
    color: black;
}

ul {
    padding-left: 0;
}