.loginPage {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 60px 100px 1fr 100px;
    background-image: url("../../assets/login-cover.jpg");
    background-size: cover;
}

.signup-link {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.signup-link:hover {
    color: #5fa8d3;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.loginCard > h3 {
    text-align: left;
}

.loginCard {
    width: 280px;
    height: 350px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    border: 3px solid #cae9ff;
    margin: 0 auto;
}

.member {
    margin-bottom: 0;
    font-size: 1em;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm > button {
    margin-top: 18px;
}

.emailLI, .pwLI {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-container_btn {
    text-align: center;
    margin: 20px auto;
}

#login-page_login-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: none;
    border-radius: 15px;
    background-color: #cae9ff;
    color: #5fa8d3;
    font-weight: 600;
    padding: 5px 20px;
}

#login-page_login-btn:hover {
    background-color: #dcf0fe;
}

.error {
    font-size: 0.9em;
    text-align: center;
}

.login-header-container {
    width: 100%;
    background: transparent;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}