.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-left {
    width: 50%;
    margin: 5% 0 5% 10%;
}

#home-3 {
    width: 100%;
}

.content-right {
    width: 50%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-btn {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    padding: 0.4em;
    font-weight: 500;
    background-color: #1b4965;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    margin-right: 15px;
    margin-top: 15px;
   }
   
.label {
    position: relative;
    top: -1px;
    padding: 0px 15px;
   }
   
.transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: #5fa8d3;
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   }
   
button:hover .transition {
    width: 40em;
    height: 14em;
   }
   
button:active {
    transform: scale(0.97);
   }

.content-right h1 {
    font-family: "Cambria";
    text-align: left;
    font-size: 40px;
    color: black;
}

.buttons {
    display: flex;
    justify-content: flex-start;
}

a {
    color: white;
}

a:hover {
    color: white;
}