.card {
    padding: 35px 35px 20px 35px;
    width: 40%;
    height: 500px;
    margin: 100px 50px 50px 80px;
    box-shadow: 0 1px 25px rgba(0,0,0,0.2);
}

.input {
    width: 100%;
    background-color: #05060f0a;
    border-radius: 10px;
    padding: 0 10px;
    border: 2px solid transparent;
    font-size: 15px;
    height: 32px;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.formLabel {
    margin-bottom: .3em;
    font-size: .9em;
    font-weight: bold;
    color: #05060f99;
}

.addRideForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }

.addRideForm > button {
    margin-top: 15px;
}

#submit-add-ride-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: none;
    border-radius: 15px;
    background-color: #cae9ff;
    color: #5fa8d3;
    font-weight: 600;
    padding: 5px 20px;
}

#submit-add-ride-btn:hover {
    background-color: #dcf0fe;
}