.footer {
    background-color: #bad6e4;
    color: white;
    padding: 2% 2% 5px 2%;
}

.footer a:hover {
    color: rgba(16, 185, 129, 0.6);
}

.copyright {
    font-size: 15px;
    margin: 0 7px;
}

.footer-icons {
    text-align: center;
    margin: 25px;
}

.footer-icons a {
    margin: 20px 15px;
    padding: 1.5%;
    border: white solid 2px;
    border-radius: 50%;
}

.footer-links {
    margin: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.company, .products {
    display: flex;
    flex-direction: column;
}